.tag {
  display: flex;
  border-radius: 2px;
  background-color: transparent;
  margin: 5px;
  color: #8a8b93;
  align-items: center;

  &_selected {
    background-color: #555bffc5;
  }

  &:hover {
    cursor: pointer;
  }

  &__remove {
    margin-left: 5px;
  }
}