.note {
  display: flex;
  margin: 15px 0;
  // border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.904);
  height: 40px;
  
  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    // border: 1px solid yellow;
    width: 85%;
    padding: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  

  &__buttons {
    // border: 1px solid red;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
  }

  &__remove:hover {
    cursor: pointer;
  }

  &__change:hover {
    cursor: pointer;
  }
}
