.note {
  display: flex;
  margin: 15px 0;
  background-color: #12122e;
  border-radius: 8px;
  
  &__tag {
    color: rgb(9, 42, 226);
  }

  &__possible-tag {
    color: rgba(212, 9, 151, 0.87);
  }

  &__text {
    display: flex;
    word-break: break-word;
    width: 85%;
    min-height: 35px;
    padding: 10px;
    line-height: 1.2;
    align-items: center;
  
    &:hover {
      cursor: pointer;
    }
  }

  &__buttons {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
  }

  &__remove:hover {
    cursor: pointer;
  }

  &__change:hover {
    cursor: pointer;
  }
}
