.note {
  display: flex;
  margin: 15px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.904);
  height: 40px;
  
  &__tag {
    color: rgb(9, 42, 226);
  }

  &__possible-tag {
    color: rgba(212, 9, 151, 0.87);
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
    padding: 10px;
  
    &:hover {
      cursor: pointer;
    }
  }

  &__buttons {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
  }

  &__remove:hover {
    cursor: pointer;
  }

  &__change:hover {
    cursor: pointer;
  }
}
